<div class="main">
  <div class="container">
    <section id="primary" class="content-full-width">
      <h2>Registrati</h2>
      <div class="column dt-sc-one-column adjusted contact_form_outer">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'contact-form'}) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.label :email, 'Indirizzo email' %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(minimo <%= @minimum_password_length %> caratteri)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation, 'Ripeti la password' %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>

          <div class="actions">
            <%= f.submit "Sign up" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </section>
    <div class="dt-sc-hr-medium"></div>
  </div>
</div>