<!--container starts-->
  <div class="container">
    <!--primary starts-->
    <section id="primary" class="content-full-width">

      <%= render 'incipit' %>

      <%= render 'ambiente' %>

      <%= render 'spogliatoio' %>

      <%= render 'salone' %>

      <%= render 'saladapranzo' %>

      <%= render 'aule' %>

      <%= render 'bagni' %>

    </section>
    <!--primary ends-->
  </div>
  <!--container ends-->
