<div class="main">
  <div class="container">
    <section id="primary" class="content-full-width">
      <h2>Hai dimenticato la password?</h2>
      <div class="column dt-sc-one-column adjusted contact_form_outer">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'contact-form'}) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>
            <div class="dt-sc-hr-very-small"></div>
          <div class="actions">
            <%= f.submit "Inviami le istruzioni per il recupero della password" %>
          </div>
        <% end %>
      </div>
    </section>
    <div class="dt-sc-hr-medium"></div>
  </div>
</div>