<!--main starts-->
<div id="main">

  <%= render 'home/slider' %>

  <!--primary starts-->
  <section id="primary" class="content-full-width">
    <%= render 'home/focuses' %>
    <div class="dt-sc-hr"></div>
    <!--fullwidth-background starts-->
    <section class="fullwidth-background dt-sc-parallax-section turquoise-bg">
      <%= render 'home/activities' %>
    </section>
    <!--fullwidth-background ends
    <div class="dt-sc-hr"></div>
    <#= render 'home/portfolio' %>

    <div class="dt-sc-hr"></div>-->
    <!--fullwidth-background starts-->
    <section class="fullwidth-background dt-sc-parallax-section orange-bg">
      <%= render 'home/blog' %>
    </section>
    <!--fullwidth-background ends-->
    <div class="dt-sc-hr"></div>
      <%= render 'home/staff' %>
    <!--
    <div class="dt-sc-hr"></div>

    <section class="fullwidth-background dt-sc-parallax-section product_bg">
        <
        <div class="container">
            <h2 class="dt-sc-hr-white-title">Recent Products</h2>
            <ul class="products">
                <li class="dt-sc-one-fourth column first">
                    <div class="product-thumb">
                        <a href="#">
                            <img src="images/product1.jpg" alt="" title="">
                        </a>
                        <span class="sale"> Sale! </span>
                        <div class="image-overlay">
                            <div class="product-button">
                                <a href="#" class="add-cart-btn"> Add to cart </a>
                            </div>
                        </div>
                    </div>
                    <div class="product-details">
                        <h5><a href="#"> Ellents Style Grade </a></h5>
                        <span class="price"> $20.00 </span>
                    </div>
                </li>
                <li class="dt-sc-one-fourth column">
                    <div class="product-thumb">
                        <a href="#">
                            <img src="images/product2.jpg" alt="" title="">
                        </a>
                        <div class="image-overlay">
                            <div class="product-button">
                                <a href="#" class="add-cart-btn"> Add to cart </a>
                            </div>
                        </div>
                    </div>
                    <div class="product-details">
                        <h5><a href="#"> Ellents Style Grade </a></h5>
                        <span class="price"> $20.00 </span>
                    </div>
                </li>
                <li class="dt-sc-one-fourth column">
                    <div class="product-thumb">
                        <a href="#">
                            <img src="images/product3.jpg" alt="" title="">
                        </a>
                        <span class="sale"> Sale! </span>
                        <div class="image-overlay">
                            <div class="product-button">
                                <a href="#" class="add-cart-btn"> Add to cart </a>
                            </div>
                        </div>
                    </div>
                    <div class="product-details">
                        <h5><a href="#"> Ellents Style Grade </a></h5>
                        <span class="price"> $20.00 </span>
                    </div>
                </li>
                <li class="dt-sc-one-fourth column">
                    <div class="product-thumb">
                        <a href="#">
                            <img src="images/product4.jpg" alt="" title="">
                        </a>
                        <div class="image-overlay">
                            <div class="product-button">
                                <a href="#" class="add-cart-btn"> Add to cart </a>
                            </div>
                        </div>
                    </div>
                    <div class="product-details">
                        <h5><a href="#"> Ellents Style Grade </a></h5>
                        <span class="price"> $20.00 </span>
                    </div>
                </li>
            </ul>
        </div>

    </section> -->
    <!--fullwidth-background ends-->
  </section>
  <!--primary ends-->
</div>
<!--main ends-->