<p id="notice"><%= notice %></p>

<p>
  <strong>Titolo:</strong>
  <%= @event.titolo %>
</p>

<p>
  <strong>Descrizione:</strong>
  <%= @event.descrizione %>
</p>

<p>
  <strong>Quando:</strong>
  <%= @event.quando %>
</p>

<p>
  <strong>Ora:</strong>
  <%= @event.ora %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @event.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @event.longitude %>
</p>

<p>
  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@event.latitude}%2C#{@event.longitude}" %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
