<!--container starts-->
<div class="container">
  <!--primary starts-->
  <section id="primary" class="content-full-width">

    <!--dt-sc-one-half starts-->
    <div class="dt-sc-one-column column">
      <div>
        <ul class='dt-sc-testimonial-carousel'>
          <div class="dt-sc-one-third column first">
            <li>
              <%= render 'regolamento' %>
            </li>
          </div>
          <div class="dt-sc-one-third column">
            <li>
              <%= render 'iscrizione' %>
            </li>
          </div>
          <div class="dt-sc-one-third column">
            <li>
              <%= render 'offertaformativa' %>
            </li>
          </div>
        </ul>
      </div>
    </div>
    <!--first dt-sc-one-third ends-->
    <!--second dt-sc-one-third starts-->
    <div class="dt-sc-one-column column">
      <div>
        <ul class='dt-sc-testimonial-carousel'>
          <div class="dt-sc-one-third column first">
          <li>
            <%= render 'letterauscita' %>
          </li>
          </div>
          <div class="dt-sc-one-third column">
          <li>
            <%= render 'menu' %>
          </li>
          </div>
          <div class="dt-sc-one-third column">
            <li>
              <%= render 'calendariomenu' %>
            </li>
          </div>
        </ul>
      </div>
    </div>
    <!--dt-sc-one-half ends-->

  </section>
  <!--primary ends-->
</div>
<!--container ends-->