<div class="column dt-sc-one-column">
<fieldset class="nested-fields immagini">
  <div class="column dt-sc-one-column">
    <div class="column dt-sc-one-many first">
      <div><%= link_to_remove_association "X", f, class: "dt-sc-button small burnt-orange pulsante-cancellazione-img" %></div>
    </div>
    <div class="column dt-sc-two-third">
      <div class="field">
        <%= f.label :name, 'Titolo immagine' %>
        <%= f.text_field :name %>
      </div>
    </div>
  </div>
  <div class="column dt-sc-one-column progetti">
    <div class="field">
      <%= f.label :description, 'Descrizione' %>
      <%= f.text_field :description %>
    </div>
  </div>
  <div class="column dt-sc-one-column progetti">
    <%- if new_image f.object -%>
      <div class="column dt-sc-one-half first">
        <div class="field">
          <%= f.label :image, 'Carica Immagine' %>
          <%= f.file_field :image %>
        </div>
      </div>
    <%- end -%>
    <div class="column dt-sc-one-half first">
      <div class="field">
        <%= f.check_box :sensible %><%= f.label :sensible, 'L\'immagine contiene volti di bambini' %>
      </div>
    </div>
  </div>
</fieldset>
</div>