<div id="main">
<!--container starts-->
<div class="container">
  <!--primary starts-->
  <section id="primary" class="content-full-width">

    <article class="portfolio-single">
      <div class="column dt-sc-one-column">
      <div class="column dt-sc-one-third first">
        <div class="portfolio-slider-container">
          <ul class="portfolio-slider">
            <% @project.all_pictures.each do |picture| %>
                <li> <%= image_tag picture.image.to_s %> </li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="column dt-sc-two-third">
        <h2><%= @project.title %></h2>
        <div class="dt-sc-one-third first">
        <p><span class="fa fa-calendar"></span> Iniziato: <%= presenta_data_inizio @project.started_at %></p>
        </div>
        <div class="dt-sc-one-third">
        <p><span class="fa fa-calendar"></span> Concluso: <%= presenta_data_conclusione @project %></p>
        </div>
        <div class="dt-sc-one-column">
        <p><%= @project.description %></p>
        </div>
      </div>
      </div><!-- chiude one-column -->
      <div class="dt-sc-one-column">
        <div class="project-details">
          <h2 class="dt-sc-hr-green-title">Attività</h2>
          <%= render partial: 'task', collection: @project.ordered_tasks %>
        </div>
    </div>
    </article>

  </section>
  <!--primary ends-->
</div>
<!--container ends-->
</div>