<!--container starts-->
<div class="container">
  <!--primary starts-->
  <section id="primary" class="content-full-width">

    <div class="dt-sc-one-column">
      <div><a class="dt-sc-button small pink" id="inserisciNuovoPost" href="#">inserisci un nuovo post</a></div>
      <div id="inserimentoNuovoPost" style="display: none;">
        <%= render 'posts/fancy_form', post: @post %>
      </div>
      <div class="dt-sc-one-column">
      <table>
        <thead>
        <tr>
          <th class="header-pink">Autore</th>
          <th class="header-pink">Titolo</th>
          <th class="header-pink">Bozza</th>
          <th class="header-pink">Pubblicato</th>
          <th class="header-pink">Categoria</th>
          <th class="header-pink" colspan="3"></th>
        </tr>
        </thead>

        <tbody>
        <% @posts.each do |post| %>
            <tr>
              <td><%= post.autore %></td>
              <td><%= post.titolo %></td>
              <td><%= "#{post.bozza.strftime("%d")}/#{post.bozza.strftime("%m")}/#{post.bozza.strftime("%Y")}" %></td>
              <td><%= "#{post.pubblicato.strftime("%d")}/#{post.pubblicato.strftime("%m")}/#{post.pubblicato.strftime("%Y")}" %></td>
              <td><%= post.categoria %></td>
              <td><%= link_to 'Vedi', post, class: "pink-link" %></td>
              <td><%= link_to 'Modifica', edit_post_path(post), class: "pink-link" %></td>
              <td><%= link_to 'Elimina', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "pink-link" %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
      </div>
      <%= render partial: 'post', collection: @posts %>
    </div>

  </section>
  <!--primary ends-->

</div>
<!--container ends-->
<script type="text/javascript">
  /*
  jQuery('#creaNuovoPost').on('click',function(e){
    e.preventDefault();
    jQuery.ajax('/posts',{
      method: 'POST',
      accepts: "script",
      data: jQuery('form').serialize()
    });
  });
*/
  jQuery('#inserisciNuovoPost').on('click',function(e){
    e.preventDefault();
    jQuery('#inserimentoNuovoPost').toggle();
  });

</script>

