<% post = @post %>
<div class="dt-sc-one-column contact_form_outer" style="padding: 5px">
  <%= form_for post, html: {class: "contact-form"} do |f| %>
      <h2>Modifica il post</h2>
      <% if post.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

            <ul>
              <% post.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="field">
        <%= f.label :autore %><br>
        <%= f.text_field :autore %>
      </div>
      <div class="field">
        <%= f.label :titolo %><br>
        <%= text_field_tag 'post[titolo]', post.titolo,  placeholder: 'inserisci il titolo' %>
      </div>
      <div class="field">
        <%= f.label :estratto %><br>
        <%= f.text_field :estratto %>
      </div>
      <div class="field">
        <%= f.label :corpo %><br>
        <%= text_area_tag 'post[corpo]', post.corpo, placeholder: 'inserisci qui il testo da visualizzare direttamente in pagina' %>
      </div>
      <div class="field">
        <%= f.label :esteso %><br>
        <%= f.text_area :esteso %>
      </div>
      <div class="field" style="display: none;">
        <%= f.date_select :bozza %>
      </div>
      <div class="field">
        <%= f.label :pubblicato %><br>
        <%= f.date_select :pubblicato %>
      </div>
      <div class="field" style="display: none;">
        <%= f.date_select :cancellato %>
      </div>
      <div class="field">
        <%= f.label :categoria %><br>
        <%= f.text_field :categoria%>
      </div>
      <div class="field">
        <%= f.hidden_field :tipo %>
      </div>
      <div class="dt-sc-hr"> </div>
      <div class="actions">
        <% if post.tipo == 'comunicazioni' %>
            <%= submit_tag "aggiorna post", class: "dt-sc-button" %>
            <%= link_to 'Vedi', @post,  class: "dt-sc-button medium" %>
            <%= link_to 'Indietro', { controller: @post.tipo, action: 'index'}, class: "dt-sc-button medium"  %>
        <% end %>
        <% if post.tipo == 'comitatomamme' %>
            <%= submit_tag "aggiorna post", class: "dt-sc-button pink" %>
            <%= link_to 'Vedi', @post,  class: "dt-sc-button medium pink" %>
            <%= link_to 'Indietro', { controller: @post.tipo, action: 'index'}, class: "dt-sc-button medium pink"  %>
        <% end %>
      </div>
  <% end %>
</div>
